[Unit]
Description=redis cluster redis02
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/bin/sh -c "/usr/local/bin/redis-server /etc/redis/redis-6380.conf;/usr/local/bin/redis-server /etc/redis/redis-6381.conf;/usr/local/bin/redis-server /etc/redis/redis-7382.conf"

PrivateTmp=true
Restart=on-failure
RestartSec=10
User=redis
[Install]
WantedBy=multi-user.target
